.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-logo {
    position: fixed;
    top: 20px;
    left: 20px;
}

.login-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.login-logo img {
    height: 60px;
    width: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
    width: 400px;
    max-width: 90%;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

.register-link {
    color: #000;
    text-decoration: underline;
}

.register-link:hover {
    color: #436eee;
}